.fire {
  fill: red;
}
.poison {
  fill: green;
}
.bug {
  fill: green;
}
.dark {
  fill: green;
}
.dragon {
  fill: green;
}
.electric {
  fill: green;
}
.fairy {
  fill: green;
}
.fighting {
  fill: green;
}
.flying {
  fill: green;
}
.ghost {
  fill: green;
}
.grass {
  fill: YellowGreen;
}
.ground {
  fill: green;
}
.ice {
  fill: green;
}
.normal {
  fill: green;
}
.psychic {
  fill: green;
}
.rock {
  fill: green;
}
.steel {
  fill: green;
}
.water {
  fill: green;
}
