
.bar {
  fill: green;
}

.bar:hover {
  fill: brown;
}

.texto {
  font-family: sans-serif;
  font-size: 15px;
  fill: black;
}
.dato {
  font-family: sans-serif;
  font-size: 10px;
  fill: grey;
}

.texturl:hover {
    cursor: pointer;
}
